:root {
  --main-font: "Poppins", sans-serif;
  --primary-color: black;
  --tertiary-color: white;
  --main-color: rgb(13, 110, 253);
  --radius: 5px;
  --main-font-weight: 900;
}

body {
  font-family: var(--main-font);
  font-weight: var(--main-font-weight);
}

header nav a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: var(--main-font-weight);
}
header nav a:hover {
  color: var(--main-color);
  transition: all 150ms ease-in-out;
}

header nav ul li {
  list-style: none;
  display: inline;
  margin: 0 10px;
}

header .navigation {
  padding: 30px 5px;
}

header .nav-icon-car {
  color: var(--main-color);
}
header .web-icon {
  font-size: 25px;
  position: relative;
  top: -10px;
}

header .sign-up-button {
  color: var(--main-color);
  background: var(--tertiary-color);
  border-radius: var(--radius);
  border: 1px solid var(--tertiary-color);
}

header .sign-up-button:hover {
  border: 1px solid var(--main-color);
  transition: all 150ms ease-in-out;
}

header .log-in-button {
  background: var(--main-color);
  color: var(--tertiary-color);
  border-radius: var(--radius);
  border: 1px solid var(--main-color);
}
header .log-in-button:hover {
  color: var(--main-color);
  background: var(--tertiary-color);
  transition: all 150ms ease-in-out;
}

.sub-heading {
  margin: 150px 0;
  font-weight: var(--main-color);
}

.landing-content .main-content span {
  color: var(--main-color);
}
.landing-content .main-content {
  padding: 130px 0 0 100px;
}
.landing-content .main-content h5,
h1 {
  font-weight: var(--main-font-weight);
}

.landing-content .main-image {
  width: 900px;
  height: 500px;
  padding: 20px 50px 0 0;
}

.landing-content .learn-more-button {
  border: 1px solid var(--main-color);
  color: var(--main-color);
}

.car-booking-section .car-booking-icon {
  color: var(--main-color);
}

.car-rental-process .middle-icons {
  font-size: 50px;
  color: var(--main-color);
  margin-bottom: 50px;
}

.car-rental-offers .rent-amount {
  color: var(--tertiary-color);
  padding: 10px 0;
  background: var(--main-color);
}

.car-rental-offers .model {
  padding: 15px 0;
}

.car-rental-offers .model:hover {
  color: var(--tertiary-color);
  background: var(--main-color);
  cursor: pointer;
}

.car-rental-offers .rental-cars {
  margin: 0 100px;
}

.sub-content {
  margin: 100px 0 0 0;
  padding: 30px 0;
  color: var(--tertiary-color);
  background: rgb(32, 32, 124);
}
.sub-content span {
  color: var(--main-color);
}

.car-deals-content .car-deals-icons {
  font-size: 50px;
  color: var(--main-color);
}

.car-deals-content .car-collection {
  margin: 0 auto;
  display: block;
  width: 900px;
  height: auto;
}
.car-deals-content .pricing-content {
  padding: 0 0 100px 100px;
}
.car-deals-content .content-wrapper {
  padding: 0 100px 0px 0;
}

.testimonials .review-pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.testimonials .card-inner-content {
  display: flex;
  justify-content: space-between;
}
.testimonials .quote-icon {
  font-size: 50px;
  color: var(--main-color);
}
.testimonials .card {
  border: none;
}
.testimonials .name {
  font-size: 14px;
}

.frequently-asked-questions .accordion-button {
  padding: 35px;
  font-size: 20px;
  font-weight: var(--main-font);
}

.frequently-asked-questions .accordion-button:hover {
  color: var(--tertiary-color);
  background: var(--main-color);
}

.contact-details .app-download-icon {
  width: 250px;
}
.contact-details .app-download {
  font-size: 40px;
}

.contact-details .whatsapp-get-in-touch {
  width: 250px;
}

.contact-details .whatsapp-qr {
  font-size: 19px;
  width: 250px;
  margin: 25px;
  border: 1px solid var(--primary-color);
  border-radius: var(--radius);
}

.contact-details {
  margin: 200px 0 200px 100px;
}

.footer ul li {
  list-style-type: none;
}
.footer .special {
  margin-top: 10px;
  font-size: 10px;
}
.footer-email {
  margin-top: 10px;
  border-radius: var(--radius);
}

.popup {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: var(--tertiary-color);
  width: 400px;
  height: 500px;
  border-radius: var(--radius);
  position: relative;
}

.popup .form-group {
  padding: 10px;
}
.popup .submit-button {
  padding: 15px 0;
}

.popup .close-icon {
  font-size: 40px;
  position: relative;
  right: -345px;
  top: -9px;
}
.popup .close-icon:hover {
  border: 1px solid var(--main-color);
  border-radius: var(--radius);
  color: var(--main-color);
}

@media (max-width: 800px) {
  header nav a {
    font-weight: var(--main-font-weight);
    font-size: 10px;
    text-align: center;
  }
  header nav ul li {
    margin: 0 3px;
  }

  header nav ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0 12px 0 0;
  }

  header nav ul .vehicle {
    display: none;
  }

  header .web-icon {
    font-size: 16px;
    top: 3px;
  }

  header .sign-up-button {
    font-size: 10px;
    margin: 0;
  }

  header .log-in-button {
    font-size: 10px;
    margin-left: 4px;
  }

  .landing-content {
    text-align: center;
  }
  .landing-content .main-content {
    padding: 70px 6px 10px 6px;
    font-size: 9px;
  }

  .landing-content h1 {
    font-size: 25px;
  }
  .landing-content .learn-more-button,
  .book-ride-button {
    font-size: 9px;
  }

  .landing-content .main-image {
    max-width: 100%;
    height: auto;
    padding: 9px 0 0 18px;
  }

  .car-booking-section {
    text-align: center;
    font-size: 12px;
  }
  .car-booking-section .btn-primary {
    font-size: 10px;
  }
  .car-booking-section .pick-up {
    margin-bottom: 30px;
  }

  .sub-heading {
    margin: 90px 0;
  }

  .car-rental-process {
    font-size: 11px;
    margin: 90px 80px 0 40px;
  }

  .car-rental-process .text-center {
    font-size: 11px;
    margin: 20px;
  }

  .car-rental-offers {
    font-size: 11px;
    padding: 20px;
  }

  .car-deals-content .content-wrapper {
    font-size: 9px;
    text-align: center;
    padding: 0;
    margin-bottom: 90px;
  }
  .car-deals-content .pricing-content {
    text-align: center;
    padding: 20px;
    font-size: 10px;
    margin: 20px 0 70px 0;
  }

  .testimonials {
    font-size: 12px;
  }

  .testimonials .card {
    margin: 10px 0;
    text-align: center;
  }

  .frequently-asked-questions .sub-heading {
    font-size: 12px;
  }
  .frequently-asked-questions .accordion-button {
    font-size: 12px;
    padding: 20px;
  }

  .contact-details .app-content {
    border: 1px solid black;
    padding: 30px;
    border-radius: var(--radius);
  }

  .contact-details .app-download-icon {
    width: 200px;
  }
  .contact-details .app-download {
    font-size: 20px;
  }

  .contact-details .whatsapp-get-in-touch {
    display: none;
  }

  .contact-details .whatsapp-qr {
    display: none;
  }

  .contact-details {
    margin: 120px 0 120px 0px;
    text-align: center;
  }

  .footer {
    text-align: center;
    font-size: 10px;
    margin-bottom: 20px;
  }

  .footer .col-md-3 {
    margin-bottom: 20px;
  }
  .footer .col-md-3 ul {
    padding: 0;
  }

  .footer .col-md-3 label {
    display: none;
  }
  #subscription {
    padding: 10px;
  }
  .footer .special {
    margin: 0;
  }
  .popup-content {
    width: 230px;
    height: auto;
  }

  .popup .close-icon {
    font-size: 20px;
    position: relative;
    right: -190px;
    top: -9px;
  }
}
